body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 10px;
    padding-right: 10px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 100vw;
}

a {
    text-decoration: none !important;
    color: none;
}

.jumbotron >h1 {
    font-size: 58px;  
}

footer {
    color: gray;
}

body {
    background-color: beige;
}

hr {
    background-color: burlywood;
}

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border-color: black;
}

#table tr:nth-child(odd) {
    background-color: white;
}

#table tr:nth-child(even) {
    background-color: lightgray;
}

#table1.table > thead > tr > th, #table1.table > tbody > tr > th, #table1.table > tfoot > tr > th, #table1.table > thead > tr > td, #table1.table > tbody > tr > td, #table1.table > tfoot > tr > td {
    border: none;
}


.container {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
}

#index1, #index2, #index3 {
    padding-right: 50px;
    padding-left: 50px;
}